h1,h2,h3,h4,h5,
.address-number,
.nN{
  font-family: 'Gochi Hand', cursive !important;
}

.photoIdeaMoreList img {
  width: 255px;
  cursor: pointer;
}
ul.thumbnails.image_picker_selector li .thumbnail.selected {
  background-color: #f06f30;
}
ul.thumbnails.image_picker_selector li {
  margin: 0px 15px 0 0px;
}
ul.thumbnails.image_picker_selector li:last-child {
  margin: 0;
}

ul.thumbnails.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
ul.thumbnails.image_picker_selector ul {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
ul.thumbnails.image_picker_selector li.group {width:100%;}
ul.thumbnails.image_picker_selector li.group_title {
  float: none; }
ul.thumbnails.image_picker_selector li {
  margin: 0px 12px 12px 0px;
  float: left; }
ul.thumbnails.image_picker_selector li .thumbnail {
  padding: 6px;
  border: 1px solid #dddddd;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
ul.thumbnails.image_picker_selector li .thumbnail img {
  -webkit-user-drag: none; }
ul.thumbnails.image_picker_selector li .thumbnail.selected {
  background: #0088cc; }
.tagsElement {
  font-family: "FontAwesome", "Helvetica Neue", sans-serif;
  font-size: 14px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  padding: 8px;
  will-change: box-shadow;
  transition: box-shadow 0.12s ease-out;
}
