<div class="inner">

  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="banner-img">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="assets/images/slider_generic_imagine.jpg" alt="...">
                  <div class="carousel-caption">
                  </div>
                </div>
                <div class="item">
                  <img src="assets/images/slider_countries_imagine.jpg" alt="slider_countries_imagine">
                  <div class="carousel-caption">
                  </div>
                </div>
                <div class="item">
                  <img src="assets/images/slider_possessions_imagine.jpg" alt="...">
                  <div class="carousel-caption">
                  </div>
                </div>
                <div class="item">
                  <img src="assets/images/slider_religion_imagine.jpg" alt="...">
                  <div class="carousel-caption">
                  </div>
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <a *ngIf="!userLoggedIn" [routerLink]="['/signup']" class="btn btn-block btn-default btn-lg">BECOME IMAGINER</a>
          <a *ngIf="userLoggedIn" [routerLink]="['/new-idea']" class="btn btn-block btn-default btn-lg">ADD A NEW IDEA <span class="fa fa-plus-circle"></span></a>
        </div>

      </div>
    </div>
  </section>

  <section class="">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="text-center">Ways to be Involved</h1>
          <ol class="featuredList">
            <li>You can collaborate becoming an Imaginer, sign up <a [routerLink]="['/signup']">here</a></li>
            <li>Apart from that, we appreciate that you share as many ideas in action as you can on this project. The ideas and actions can be your own or other people’s ideas that you support</li>
            <li>We also would like to be in contact with the people that help us spread and develop "Imagine ALL THE PEOPLE" in their village, city or country. You can contact us <a href="mailto: info@imagineallthepeople.world">here</a></li>
          </ol>
        </div>

      </div>
    </div>
  </section>

</div>
