<section *ngIf="!forgotPassword && !forgotPasswordError && !forgotPasswordSuccess" class="">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 center-col">
        <h1 class="font-family: 'Gochi Hand', cursive;">Log In</h1>
        <form name="form" accept-charset="utf-8"
              (ngSubmit)="f.form.valid && login()"
              #f="ngForm" novalidate>
          <div class="center text-center">
            <button type="button" id="fb" class="loginBtn loginBtn--facebook"
                    (click)="onFBLogin()">Login with FB</button>
            <div> or </div>
          </div>
          <div class="form-group has-feedback"
               [ngClass]="{ 'has-error': (f.submitted && !username.valid) || invalidCreds }">
            <label for="username">E-mail: </label>
            <input type="text" id="username" name="username"
                   value="" class="form-control"
                   placeholder="&#xf0e0; Email"
                   [(ngModel)]="model.username" #username="ngModel" required>
            <span id="emailStatus" class="sr-only">(error)</span>
            <div *ngIf="(f.submitted && !username.valid && !invalidCreds)"
                 class="form-control-feedback message">
              <p>Please enter your username and password!</p>
            </div>
            <div *ngIf="invalidCreds"
                 class="form-control-feedback message">
              <p>Username and password do not match an existing account!</p>
            </div>
          </div>
          <div class="form-group has-feedback"
               [ngClass]="{ 'has-error': (f.submitted && !password.valid) || invalidCreds }">
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" value=""
                   class="form-control" placeholder="&#xf023; Password"
                   [(ngModel)]="model.password" #password="ngModel" required >
            <span id="passwordStatus" class="sr-only">(success)</span>
          </div>
          <button [disabled]="loading" class="btn btn-default form-control">Log In</button>
          <p>Don't have an account? <a [routerLink]="['/signup']" title="Create new account">Sign up</a></p>
          <p><a (click)="showForgotPassword()" title="Forgot your password">Forgot your password?</a></p>

        </form>

        <div class="well">
          <a [routerLink]="['/ideas']" [queryParams]="{q: 'last'}" title="Latest Ideas">Check out the most popular ideas here</a>
        </div>
      </div>

    </div>
  </div>
</section>

<section *ngIf="forgotPassword">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 center-col">
        <h1 class="font-family: 'Gochi Hand', cursive;">Forgot your password</h1>
        <label for="username">Your account e-mail: </label>
        <input type="text" id="usermail" name="usermail"
               value="" class="form-control"
               placeholder="&#xf0e0; Email"
               #forgot>
        <br>
        <re-captcha (captchaResponse)="handleCaptcha($event)"
                    site_key="6Lf9LzEUAAAAACDO9mWphJ5vsONd73wi2OAmuw-B"></re-captcha>
        <br>
        <button class="btn btn-default form-control"
                [disabled]="!human" (click)="sendForgotPassword()">Reset password</button>
        <div *ngIf="forgotEmailInvalid"
             class="form-control-feedback message" style="color:red;">
          <p>The email address you entered is invalid!</p>
        </div>

      </div>
    </div>
  </div>
</section>

<section *ngIf="forgotPasswordSuccess">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 center-col">
        <h1 class="font-family: 'Gochi Hand', cursive;">Forgot your password</h1>
        <p>You will receive an e-mail shortly, with instructions for resetting your password.</p>

      </div>
    </div>
  </div>
</section>

<section *ngIf="forgotPasswordError">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 center-col">
        <h1 class="font-family: 'Gochi Hand', cursive;">Forgot your password</h1>
        <p>There was an error resetting your password. Please contact us via e-mail, or try again later.</p>

      </div>
    </div>
  </div>
</section>

<!--div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username"
            [(ngModel)]="model.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Login</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a [routerLink]="['/register']" class="btn btn-link">Register</a>
        </div>
    </form>
</div-->
