<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 center-col">
        <h1>Some examples to get inspired</h1>
      </div>
    </div>
  </div>
</section>

<section class="blogPost">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 thumbnail_no_interaction thumbnail_wrap"
           *ngFor="let idea of ideas">
        <app-single-idea [idea]="idea" [disableActions]="true"></app-single-idea>
      </div>
    </div>
  </div>
</section>
