<section *ngIf="signupScreen && !loggedIn" class="">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 center-col">
        <h1>Sign Up</h1>

        <div class="center text-center">
          <button type="button" id="fb" class="loginBtn loginBtn--facebook"
                  (click)="onFBLogin()">Login with FB</button>
        </div>
        <div class="center text-center">or</div>
        <form accept-charset="utf-8" name="form"
              #f="ngForm" novalidate [formGroup]="signupForm">
          <div class="form-group"
               [ngClass]="{
                      'has-danger': !emailValid && (signupForm.get('email').touched || signupForm.get('email').dirty),
                      'has-success': emailValid && (signupForm.get('email').touched || signupForm.get('email').dirty)
                    }">
            <label for="email">E-mail </label>
            <input type="email" id="email" value="" class="form-control"
                   name="email" formControlName="email"
                   [(ngModel)]="model.username" placeholder="&#xf0e0; Email"
                   required
                   (keyup)="emailValidator(signupForm.get('email').value) == false ? emailValid = false : emailValid= true">
            <div *ngIf="!emailValid && signupForm.get('email').touched" style="color:red;">Please enter a valid e-mail</div>
            <div *ngIf="usernameExists" style="color:red;">This e-mail has already been used!</div>
          </div>
          <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" id="password" name="password"  class="form-control"
                   [(ngModel)]="model.password" required formControlName="password"
                   value="" placeholder="&#xf023; Password" >
            <div *ngIf="signupForm.get('password').touched && signupForm.get('password').value == ''" style="color:red;">Please enter a password</div>
          </div>
          <div class="form-group">
            <label for="password2">Repeat password: </label>
            <input type="password" id="password2" name="password2" class="form-control"
                   [(ngModel)]="model.password2" required formControlName="password2"
                   value="" placeholder="&#xf023; Repeat password"
            (keyup)="signupForm.get('password2').value != signupForm.get('password').value ? passwordValid=false : passwordValid = true"
            >
            <div *ngIf="signupForm.get('password2').touched &&
                        signupForm.get('password2').value == ''" style="color:red;">Please repeat the password</div>
            <div *ngIf="signupForm.get('password2').touched &&
                        signupForm.get('password2').value != '' &&
                        signupForm.get('password').touched &&
                        !passwordValid" style="color:red;">Passwords do not match!</div>
          </div>
          <div *ngIf="invalidForm" style="color: red;"> Please enter your information!</div>
          <re-captcha (captchaResponse)="handleCaptcha($event)"
                      site_key="6Lf9LzEUAAAAACDO9mWphJ5vsONd73wi2OAmuw-B"></re-captcha>
          <button type="button" class="btn btn-default form-control"
                  [disabled]="!human" (click)="register()"  style="margin-top: 10px;">Register</button>

          <p>By clicking register, you agree to all the terms and conditions of Imagine.</p>
          <p>Already have an account? <a [routerLink]="['/login']" title="Log In">Log in</a></p>



        </form>
      </div>

    </div>
  </div>
</section>

<section *ngIf="signupWait && !loggedIn">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 center-col">
        <h1>Creating your account...</h1>
        <div class="text-success">
          <p>Please wait while we create your account. This shouldn't take more than a few moments.</p>
        </div>
      </div>

    </div>
  </div>
</section>

<section *ngIf="signupError && !loggedIn">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 center-col">
        <h1>OOPS</h1>
        <div class="text-warning">
          <p>There was an error creating your account. Click <a (click)="goBack()" style="cursor: pointer">here</a> to try again!</p>
        </div>
      </div>

    </div>
  </div>
</section>

<section *ngIf="(!signupError &&!signupWait && !signupScreen) && !loggedIn">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 center-col">
        <h1>Success</h1>
        <div class="text-warning">
          <p>Your account has been created. You can now <a [routerLink]="['/login']" style="cursor: pointer">log in</a>.</p>
        </div>
      </div>

    </div>
  </div>
</section>

<section *ngIf="loggedIn">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 center-col">
        <h1>Success</h1>
        <div class="text-warning">
          <p>You are already logged in. You can <a [routerLink]="['/new-idea']">add a new idea</a>, browse the <a [routerLink]="['/ideas']">existing ideas</a>, or <a [routerLink]="['/profile']">check your profile</a>.</p>
        </div>
      </div>

    </div>
  </div>
</section>
<!--div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">E-mail</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
         <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Repeat Password</label>
            <input type="password" class="form-control" name="password2" [(ngModel)]="model.password2" #password2="ngModel" required />
            <div *ngIf="f.submitted && !password2.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Register</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
    </form>
    <hr>
    <button type="button" class="loginBtn loginBtn--facebook" (click)="onFBLogin()">Login with FB</button>
</div-->
