<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="banner-img">
                  <div id="carousel-example-generic" class="carousel slide" data-interval="3000" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                      <div class="item active">
                        <img src="assets/images/slider_generic_imagine.jpg" alt="...">
                        <div class="carousel-caption">
                        </div>
                      </div>
                      <div class="item">
                        <img src="assets/images/slider_countries_imagine.jpg" alt="slider_countries_imagine">
                        <div class="carousel-caption">
                        </div>
                      </div>
                      <div class="item">
                        <img src="assets/images/slider_possessions_imagine.jpg" alt="...">
                        <div class="carousel-caption">
                        </div>
                      </div>
                      <div class="item">
                        <img src="assets/images/slider_religion_imagine.jpg" alt="...">
                        <div class="carousel-caption">
                        </div>
                      </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
              <h1 class="text-center">Imagine All the People</h1>
              <p>We are an online community of people that believe in John Lennon's dream of a peaceful world without possessions, countries, and religions. We are starting a project to make this dream real. We start with ourselves and share our small ideas and complete small actions daily. We just want to start the process of changing possessions, countries and religions little by little.
              <p>If one day (2.222) all possessions, religions and countries are being shared (bottom up) in the end these 3 big powers that nowadays cause so many problems will be eliminated...</p>
              <p>&nbsp;</p>
                <a *ngIf="!userLoggedIn" [routerLink]="['/signup']" class="btn btn-block btn-default btn-lg">BECOME IMAGINER</a>
                <a *ngIf="userLoggedIn" [routerLink]="['/new-idea']" class="btn btn-block btn-default btn-lg">ADD A NEW IDEA <span class="fa fa-plus-circle"></span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center author-box">We are {{usersCount}} Imaginers making John Lennon's Imagine come true.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="imaginers clearfix">
                    <div class="imaginersBox">
                        <img src="assets/images/cloud.png" />
                        <div class="imaginers-text">
                            <h2>{{usersCount}}</h2>
                            <p>IMAGINERS</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="ideas clearfix">
                    <div class="imaginersBox">
                        <img src="assets/images/plain.png" />
                        <div class="imaginers-text">
                            <h2>{{ideasCount}}</h2>
                            <p>IDEAS IN ACTION</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section *ngIf="ideasLoaded" class="blogPost">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div *ngIf="ideas.length > 0" class="col-sm-6 col-md-6 thumbnail_wrap">
                        <app-single-idea [idea]="ideas[0]"></app-single-idea>
                    </div>
                    <div *ngIf="ideas.length > 1" class="col-sm-6 col-md-6 thumbnail_wrap">
                        <app-single-idea [idea]="ideas[1]"></app-single-idea>
                    </div>
                    <div *ngIf="ideas.length > 2" class="col-sm-6 col-md-6 thumbnail_wrap">
                       <app-single-idea [idea]="ideas[2]"></app-single-idea>
                    </div>
                    <div *ngIf="ideas.length > 3" class="col-sm-6 col-md-6 thumbnail_wrap">
                        <app-single-idea [idea]="ideas[3]"></app-single-idea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-manifesto></app-manifesto>
<!--app-featured-ideas></app-featured-ideas-->
