<div *ngIf="showManifesto" class="modal-simple">
  <div class="container modal-content-simple">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center">Manifest</h1>

        <p>We truly believe in what John imagined; a peaceful new world without possessions, countries and religions. Together we want to put into practice his beautiful idea starting with ourselves, sharing many ideas, and doing small actions that eliminate possessions, countries and religions. Our goal is to work together "bottom up", inspiring others in order to make this dream a reality in the year 2.222!</p>

        <button class="btn btn-default form-control" (click)="onAccept()">Accept</button>
      </div>

    </div>
  </div>
</div>





<!--

  <div class="modal-content-simple">
    <p>This is where the John Lennon Manifesto will be displayed</p>
    <div class="pull-right">

    </div>
  </div>
</div>
-->
