<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 center-col">
        <h1>All ideas by {{userName}}</h1>
        <div class="addthis_inline_share_toolbox"></div>

      </div>
    </div>
  </div>
</section>
<section class="blogPost">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6" *ngFor="let idea of ideas">
        <app-single-idea [idea]="idea"></app-single-idea>
      </div>
    </div>
  </div>
</section>
